
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans&display=swap');

:root{

    /*Couleurs*/
    --clr-principale: #212E53;
    --clr-accent: #BED3C3; /* accent */
    --clr-sombre: #111;
    --clr-claire: #efefef;

    /*Police*/
    --police-principale: "Lato";
    --police-titres: 'Merriweather Sans';

    /* Padding*/

}

/* Reset */

*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Base */

body{
    margin: 0;
    padding: 0;
    font-family: var(--police-principale);
    min-height: 100vh;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--police-titres);
}

input, button, textarea, select{
    font: inherit;
}

.conteneur{
    display: block;
    width: 80%;
    margin: 0 auto;
}

section{
    margin: 40px 0;
}

article{
    margin: 20px 0;
}

/* Grille */

.flex{
    display: flex;
    gap: 1em;
}

/* Grille v2 */

.une-col{
    flex-basis: 8%;
}

.deux-col{
    flex-basis: 16%;
}

.trois-col{
    flex-basis: 24%;
}

.quatre-col{
    flex-basis: 33.33%;
}

.cinq-col{
    flex-basis: 40%;
}

.six-col{
    flex-basis: 49%;
}

.huit-col{
    flex-basis: 65%;
}

.douze-col{
    flex-basis: 100%;
}

/* Grille v1 */
.demi-col{
    flex-basis: 48%;
}

.tier-col{
    flex-basis: 32%;
}

.quart-col{
    flex-basis: 23%;
}

/*-------------------*/

/* Couleurs */

/* backgrounds */
.fond-principal{
    background-color: var(--clr-principale);
}

.fond-secondaire{
    background-color: var(--clr-accent);
}

.fond-claire{
    background-color: var(--clr-claire);
}

.fond-sombre{
    background-color: var(--clr-sombre);
}

/* Textes */

.texte-principal{
    color: var(--clr-principale);
}

.texte-secondaire{
    color: var(--clr-accent);
}

.texte-claire{
    color: var(--clr-claire);
}

.texte-sombre{
    color: var(--clr-sombre);
}

/* Utilitaires */

.fluide{
    display: block;
    width: 100%;
    height: auto;
}

.v-aligne{
    display: flex;
    align-items: center;
}

.padding-p{
    padding: 10px;
}

.padding-m{
    padding: 20px;
}

.padding-g{
    padding: 30px;
}


/* Responsive */

@media screen and (max-width: 1024px) {
   
    .huit-col{
        flex-basis: 48%;
    }

    .quatre-col{
        flex-basis: 48%;
    }

    .trois-col{
        flex-basis: 48%;
    }

    .flex{
        flex-wrap: wrap;
    }
 
    .conteneur{
        width: 85%;
    }

    /* ancienne grille */

    .tier-col{
        flex-basis: 48%;
    }

    .quart-col{
        flex-basis: 48%;
    }

 }


@media screen and (max-width: 768px) {

   .flex{
       display: block;
   }

   .conteneur{
       width: 95%;
   }
}